body{

font-family: Verdana, Geneva, Tahoma, sans-serif
;
background-color: ghostwhite;
margin-right:20%;

}

h1 {
    color: cadetblue;
    font-size: xx-large;
margin-left: 30%;


}

h2{

background-color:cadetblue;

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-top: 1cqmax;
}
p{

background-color:orange;
font-size: larger;

}



h3

{

background-color: cadetblue;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ol{

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:goldenrod;



}


